/* This file contains cross-component utility classes only. */

.assistiveText,
.assistiveTextFocusable:not(:focus) {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;
}

/* Headings */
.textHeadingLarge {
  color: var(--color-text-accent);
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.181;
}

.textHeadingMedium {
  color: var(--color-text-accent);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1.154;
}

.textHeadingSmall {
  color: var(--color-text-accent);
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.368;
}

.textHeadingXSmall {
  color: var(--color-text-accent);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.429;
}

.textHeadingXXSmall {
  color: var(--color-text-accent);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.429;
}

@media screen and (max-width: 991px) {
  .textHeadingLarge {
    font-size: 4rem;
    line-height: 1.188;
  }

  .textHeadingMedium {
    font-size: 3rem;
    line-height: 1.25;
  }

  .textHeadingSmall {
    font-size: 2rem;
    line-height: 1.375;
  }

  .textHeadingXSmall,
  .textHeadingXXSmall {
    font-size: 1.375rem;
    line-height: 1.545;
  }
}

@media screen and (max-width: 767px) {
  .textHeadingLarge {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  .textHeadingMedium {
    font-size: 2rem;
    line-height: 1.375;
  }

  .textHeadingSmall {
    font-size: 1.625rem;
    line-height: 1.462;
  }

  .textHeadingXSmall,
  .textHeadingXXSmall {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 479px) {
  .textHeadingLarge {
    font-size: 2.125rem;
    line-height: 1.353;
  }

  .textHeadingMedium {
    font-size: 1.75rem;
    line-height: 1.429;
  }

  .textHeadingSmall {
    font-size: 1.5rem;
    line-height: 1.458;
  }
}

/* Text Highlight */
.textHighlight1,
.textHighlight2,
.textHighlight3,
.textHighlight4 {
  padding: 0 4px;
  white-space: nowrap;
  color: #fff;
}

.textHighlight1 {
  background: linear-gradient(
    180deg,
    transparent 6%,
    var(--color-accent-100) 6%
  );
}

.textHighlight2 {
  background: linear-gradient(
    180deg,
    transparent 10%,
    var(--color-accent-200) 10%
  );
}

.textHighlight3 {
  background: linear-gradient(
    180deg,
    transparent 10%,
    var(--color-accent-300) 10%
  );
  color: inherit;
}

.textHighlight4 {
  background: linear-gradient(
    180deg,
    transparent 10%,
    var(--color-accent-400) 10%
  );
}

/* Links */
.linkBase,
.linkDefault {
  transition: color 300ms ease;
}

.linkDefault {
  color: var(--color-text-link);
}

.linkDefault:not([aria-current]):hover {
  color: var(--color-text-highlight);
}

/* Alignment */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
