.container {
  position: relative;
  margin: 0 auto;
  padding: 34px var(--layout-padding-x);
  max-width: 778px;
}

.bar {
  justify-content: space-between;
  padding: 10px 14px;
  border: 2px solid var(--color-background-100);
  border-radius: 18px;
  background: var(--color-background-200);
  box-shadow: 7px 7px 0 0 var(--color-background-100);
}

.logo {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--color-background-300);
  transition: transform 300ms ease;
  transform-style: preserve-3d;
}

.logo:hover {
  transform: scale3d(0.96, 0.96, 0.99);
}

.list {
  gap: 24px;
}

.list li {
  line-height: 1.111;
}

.list a {
  font-weight: 700;
}

.contact {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
  padding: 15px;
  border-radius: 12px;
  background: var(--color-background-300);
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  transition:
    background-color 300ms ease,
    transform 300ms ease;
  transform-style: preserve-3d;
}

.contact:hover {
  background: var(--color-background-highlight);
  transform: translate3d(0, -3px, 0.01px);
}

.hamburger {
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
  appearance: none;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.hamburgerTop,
.hamburgerBottom {
  width: 44px;
  height: 3px;
  margin: 12px 0;
  border-radius: 20px;
  background: var(--color-background-100);
  transition: transform 300ms ease;
  transform-style: preserve-3d;
}

.hamburger.open .hamburgerTop {
  transform: translate3d(0, 8px, 0) rotateZ(135deg);
}

.hamburger.open .hamburgerBottom {
  transform: translate3d(0, -7px, 0) rotateZ(45deg);
}

.overlay {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  overflow: hidden;
  margin: 0 auto;
  padding: 24px;
  max-width: 778px;
  z-index: 100;
}

.overlay.open {
  display: block;
}

.overlay .list {
  flex-direction: column;
  align-items: stretch;
  padding: 32px 24px;
  border: 2px solid var(--color-background-100);
  border-radius: 24px;
  background: var(--color-background-200);
}

.overlay.open .list {
  animation: open 400ms ease forwards;
}

.overlay.closing .list {
  animation: close 300ms ease forwards;
}

@keyframes open {
  from {
    transform: translateY(-300px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes close {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-300px);
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .bar .list {
    display: none;
  }

  .contact {
    margin-left: 0;
    margin-right: 24px;
  }

  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .bar {
    max-width: 600px;
    margin: 0 auto;
  }

  .logo {
    width: 46px;
    height: 46px;
  }

  .logo img {
    max-width: 20px;
  }

  .contact {
    padding: 11px;
  }

  .overlay .list a {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .logo img {
    max-width: 18px;
  }

  .contact {
    display: none;
  }

  .hamburgerTop,
  .hamburgerBottom {
    width: 40px;
  }

  .overlay {
    padding-left: 20px;
    padding-right: 20px;
  }
}
