.container {
  background: var(--color-background-100);
  color: var(--color-text-inverse);
}

.content {
  margin: var(--layout-margin);
  padding: var(--layout-padding);
  max-width: var(--layout-max-width);
}

.top {
  padding: 100px 0 80px;
  border-bottom: 1px solid var(--color-gray-200);
}

.bottom {
  padding: 40px 0;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 16px 80px;
}

.sectionWithText p {
  margin-bottom: 32px;
  max-width: 300px;
}

.logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo img {
  transition: transform 300ms ease;
  transform-style: preserve-3d;
}

.logo img:hover {
  transform: scale3d(0.92, 0.92, 0.99);
}

.socialIcons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.socialIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-background-200);
  transition: background-color 300ms ease;
}

a.hasIcon .socialIcon {
  margin-right: 14px;
}

a:hover > .socialIcon,
.socialIcon:hover {
  background: var(--color-text-highlight);
}

.socialIcon[data-key='soundcloud'] img {
  width: auto;
  height: 18px;
  padding-bottom: 1px;
}

.socialIcon[data-key='linktree'] img {
  width: auto;
  height: 28px;
}

.title {
  margin-bottom: 40px;
  font-size: 1.5rem;
  line-height: 1.083;
  color: #fff;
}

.list li {
  margin-bottom: 24px;
  line-height: 20px;
}

.list li:last-of-type,
.multiColumnList li:nth-of-type(6n + 6) {
  margin-bottom: 0;
}

.list a {
  display: inline-block;
  font-weight: 400;
  transition:
    transform 300ms ease,
    color 300ms ease;
  transform-style: preserve-3d;
}

.list a:not([aria-current]):hover {
  transform: translate3d(8px, 0, 0.01px);
  color: var(--color-text-highlight);
}

.list a.hasIcon {
  display: flex;
  align-items: center;
}

.multiColumnList {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 38px;
}

.nowrap {
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(3, auto);
    gap: 60px 25px;
  }

  .bioSection {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  .title {
    font-size: 1.375rem;
  }
}

@media screen and (max-width: 767px) {
  .top {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .grid {
    grid-template-columns: auto auto;
    justify-content: stretch;
  }

  .bioSection,
  .contactSection {
    grid-column: 1 / span 2;
  }

  .sectionWithText p {
    margin-bottom: 26px;
    max-width: 350px;
  }

  .title {
    font-size: 1.25rem;
  }

  .list li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .bioSection,
  .contactSection {
    grid-column: initial;
  }

  .sectionWithText p {
    margin-bottom: 23px;
  }

  /* .multiColumnList {
    grid-template-rows: 1fr;
    grid-auto-flow: row;
  }

  .multiColumnList li:nth-of-type(6n + 6) {
    margin-bottom: 20px;
  } */
}
