.hasTextAfter {
  margin-right: 6px;
}

.hasTextBefore {
  margin-left: 6px;
}

.lineRounded {
  font-family: var(--font-line-rounded-icons);
}

.lineRounded.mail::before {
  content: '\E81E';
}

.lineRounded.briefcase::before {
  content: '\E80A';
}

.lineRounded.person::before {
  content: '\E844';
}

.lineRounded.arrowDiagonal::before {
  content: '\E803';
}

.lineRounded.arrowLeft::before {
  content: '\E804';
}

.lineRounded.arrowRight::before {
  content: '\E805';
}

.lineRounded.success::before {
  content: '\E813';
}

.lineRounded.error::before {
  content: '\E80D';
}
