.container {
  padding: 93px 0 148px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  margin: var(--layout-margin);
  padding: var(--layout-padding);
  max-width: var(--layout-max-width);
}

.intro {
  max-width: 625px;
  background: rgb(0 0 0 / 0.2);
  border-radius: 32px;
  padding: 48px 64px;
  color: var(--color-text-inverse);
  text-align: center;
}

.intro h1 {
  margin-bottom: 16px;
  color: var(--color-text-inverse);
  font-size: 3.5rem;
}

.intro p {
  margin-bottom: 48px;
  text-wrap: balance;
}

.imageWrapper {
  max-width: 500px;
  border: 4px solid var(--color-background-100);
  border-radius: 32px;
  box-shadow: 13px 13px 0 0 var(--color-background-100);
  overflow: hidden;
}

/** TODO make a iconButton component */
.buttonIcon {
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .container {
    padding: 78px 0 123px;
  }

  .content {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: 600px;
    row-gap: 60px;
    padding: 0;
  }

  .imageWrapper {
    max-width: 100%;
  }

  .imageWrapper > img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 60px 0 103px;
  }

  .content {
    max-width: 500px;
  }

  .intro {
    padding: 48px 32px;
  }

  .intro h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
  }

  .intro p {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 540px) {
  .content {
    padding: 0 24px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding: 50px 0 86px;
  }

  .content {
    padding: 0 20px;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }

  .intro {
    padding: 32px 24px;
  }

  .intro h1 {
    font-size: 2.125rem;
  }

  .extraDescription {
    display: none;
  }
}
