.page {
  background: url(/images/background-narrow2-med.jpg) no-repeat;
  background-size: auto 250vh;
}

@media screen and (min-width: 768px) {
  .page {
    background: url(/images/background-narrow1-med.jpg) no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1025px) {
  .page {
    background: url(/images/background-med.jpg) no-repeat;
    background: url(/images/background-med.webp) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
  }
}
