.container {
  margin: var(--layout-margin);
  padding: 0 var(--layout-padding-x);
  max-width: var(--layout-max-width);
}

.intro {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-top: 16px;
  padding-bottom: 227px;
}

.intro .image {
  max-width: 250px;
}

.intro .image:first-child {
  align-content: end;
}

.intro .image img {
  border-radius: 50%;
  border: 3px solid var(--color-background-100);
  opacity: 75%;
}

.intro .image:first-child img {
  margin-left: -52px;
  margin-bottom: -35px;
  box-shadow: -6px 6px 0 var(--color-background-100);
}

.intro .image:last-child img {
  margin-left: 52px;
  box-shadow: 6px 6px 0 var(--color-background-100);
}

.intro .content {
  max-width: 600px;
  margin: 64px 0 32px;
  text-align: center;
}

.intro h1 {
  color: var(--color-text-inverse);
  margin-bottom: 38px;
}

.intro p {
  margin-bottom: 32px;
}

.story {
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  gap: 40px;
  padding-top: 192px;
  padding-bottom: 192px;
}

.story.background {
  padding-top: 0;
}

.story.values {
  padding-bottom: 54px;
}

.story h2 {
  margin-top: 30px;
  margin-bottom: 54px;
  color: var(--color-text-inverse);
}

.story.values h2 {
  margin-bottom: 0;
}

.story .text {
  max-width: 550px;
}

.story p:not(:last-child) {
  margin-bottom: 24px;
}

.story .image {
  overflow: hidden;
  max-width: 90%;
  padding: 7px;
  background: url('/images/zoom-effect-small.jpg?v=1') center / cover;
}

.story .image img {
  object-fit: cover;
  max-height: 320px;
  border-radius: 28px;
  border: 3px solid var(--color-background-100);
}

.story .image.decorated img {
  object-position: 50% 75%;
  mask-image: radial-gradient(
    circle at 60% 60%,
    black 50%,
    rgb(255 255 255 / 0.66) 10%
  );
}

.story.experience .image img {
  max-height: 375px;
}

.storyInverse {
  background: var(--color-background-100);
}

.storyInverse,
.storyInverse h2 {
  color: var(--color-text-inverse);
}

.storyInverse h2 {
  margin-top: 0;
}

.highlights {
  margin-bottom: 40px;
}

.valuesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  padding-bottom: 192px;
}

@supports (initial-letter: 1) or (-webkit-initial-letter: 1) {
  .dropCap:first-child::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    margin-right: 8px;
    font-weight: 700;
  }
}
