.container {
  margin: var(--layout-margin);
  padding: 16px var(--layout-padding-x) 96px;
  max-width: var(--layout-max-width);
}

.introCols {
  display: flex;
  gap: 24px;
}

.imgLeft {
  max-width: 250px;
  margin-left: -400px;
  align-content: end;
  margin-right: 100px;
  margin-bottom: -35px;
}

.imgRight {
  max-width: 250px;
  margin-right: -370px;
  align-content: top;
  margin-left: 100px;
  margin-top: -50px;
}

.imgLeft img,
.imgRight img {
  border-radius: 50%;
  border: 3px solid var(--color-background-100);
  box-shadow: -6px 6px 0 var(--color-background-100);
  opacity: 75%;
}

.imgRight img {
  box-shadow: 6px 6px 0 var(--color-background-100);
}

.intro {
  max-width: 600px;
  margin: 64px auto 32px;
  text-align: center;
}

.intro h1 {
  color: var(--color-text-inverse);
  margin-bottom: 38px;
}

.intro p {
  margin-bottom: 40px;
}

.story {
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  gap: 40px;
}

.story p:not(:last-child) {
  margin-bottom: 24px;
}

.storyInverse {
  background: var(--color-background-100);
  padding: 60px 0;
}

.storyInverse,
.storyInverse h2 {
  color: var(--color-text-inverse);
}

.story h2 {
  color: var(--color-text-inverse);
  margin-top: 30px;
  margin-bottom: 54px;
}

.storyInverse h2 {
  margin-top: 0;
}

.imgContainer {
  max-width: 90%;
  padding: 0;
  overflow: hidden;
}

.imgContainer img {
  object-fit: cover;
  max-height: 375px;
}

.imgContainer img.faceImg {
  object-position: 50% 75%;
}

.content {
  max-width: 550px;
  justify-self: end;
  justify-content: flex-start;
}

.content p:first-child::first-letter {
  float: left;
  clear: right;
  margin-right: 4px;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}
