.container {
  margin: var(--layout-margin);
  padding: 93px var(--layout-padding-x) 148px;
  max-width: var(--layout-max-width);
}

.hero {
  text-align: center;
  /* padding-bottom: 192px; */
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  color: var(--color-text-inverse);
}

.intro {
  margin: 24px;
}

.hero p {
  margin-bottom: 40px;
  color: var(--color-text-inverse);
}

.story > div {
  display: grid;
  grid-template-columns: 1fr 0.85fr;
  gap: 40px;
}

.story p {
  margin-bottom: 24px;
}

.storyInverse {
  background: #000;
  color: var(--color-text-inverse);
}

.storyInverse h2 {
  color: var(--color-text-inverse);
}
