.container {
  padding: 5% 0;
  overflow: hidden;
}

.strip {
  display: flex;
  width: 110%;
  padding: 60px 0;
  background: var(--color-background-100);
  transform: translate(-15px, 0) rotate(-5deg);
}
