.container {
  margin: var(--layout-margin);
  padding: 92px var(--layout-padding-x) 200px;
  max-width: 489px;
  text-align: center;
}

.container h1 {
  margin-bottom: 16px;
}

.card {
  display: inline-flex;
}

.card a {
  column-gap: 22px;
  font-size: 1.25rem;
  line-height: 1.111;
}

@media screen and (max-width: 991px) {
  .container {
    padding-top: 77px;
    padding-bottom: 160px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: 60px;
    padding-bottom: 133px;
  }

  .container h1 {
    margin-bottom: 10px;
  }

  .card a {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-top: 50px;
    padding-bottom: 111px;
  }

  .card {
    display: flex;
  }

  .card a {
    font-size: 1rem;
    column-gap: 15px;
  }
}
