.container {
  padding: 92px 0 200px;
}

.content {
  margin: var(--layout-margin);
  padding: var(--layout-padding);
  max-width: 489px;
  text-align: center;
}

.content h1 {
  margin-bottom: 16px;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 35px;
  border: 3px solid var(--color-background-100);
  border-radius: 24px;
  background: var(--color-background-200);
}

.card a {
  column-gap: 22px;
  font-size: 1.25rem;
  line-height: 1.111;
}

@media screen and (max-width: 991px) {
  .container {
    padding-top: 77px;
    padding-bottom: 160px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: 60px;
    padding-bottom: 133px;
  }

  .content h1 {
    margin-bottom: 10px;
  }

  /* .content p {
    margin-bottom: 26px;
  } */

  .card a {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-top: 50px;
    padding-bottom: 111px;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* .content p {
    margin-bottom: 23px;
  } */

  .card {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
  }

  .card a {
    font-size: 1rem;
    column-gap: 15px;
  }
}
