.text {
  margin-bottom: 16px;
  padding: 35px 38px;
  border-radius: 16px;
  background: linear-gradient(
    to right,
    rgb(255 255 255 / 0.07),
    rgb(255 255 255/ 0)
  );
  color: var(--color-text-alt);
}

@media screen and (max-width: 991px) {
  .text {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .text {
    padding: 20px 32px;
    border-radius: 14px;
  }
}
