.container {
  margin: var(--layout-margin);
  padding: 0 var(--layout-padding-x) 240px;
  max-width: var(--layout-max-width);
}

.heading {
  max-width: 630px;
  margin: 0 auto 48px;
  text-align: center;
}

.heading h2 {
  margin-bottom: 32px;
  color: var(--color-text-inverse);
}

.heading p {
  text-wrap: pretty;
}

.carousel {
  /** allow images to extend outside of the container */
  padding-top: 32px;
  padding-bottom: 40px;
  margin-bottom: -40px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 1300px;
    padding-bottom: 200px;
  }

  .heading {
    max-width: 600px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: var(--layout-max-width);
    padding-bottom: 168px;
  }

  .heading,
  .heading h2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-bottom: 138px;
  }
}
