.page {
  min-width: 300px;
  background:
    linear-gradient(transparent 40vh, var(--color-primary) 50vh),
    top left / contain no-repeat url('/images/bg/optim/bg-phone-q70.jpg?v=1');
}

@media screen and (min-width: 768px) {
  .page {
    background:
      linear-gradient(transparent 50vh, var(--color-primary) 80vh),
      top left / contain no-repeat url('/images/bg/optim/bg-tablet-q70.jpg?v=1');
  }
}

@media screen and (min-width: 1025px) {
  .page {
    background: fixed left center / cover no-repeat
      url('/images/bg/optim/bg-q70.jpg?v=1');
  }
}

@media screen and (min-width: 2200px) {
  .page {
    background: fixed left center / cover no-repeat
      url('/images/bg/bg-high.jpg?v=1');
  }
}

.skipLink:focus {
  display: block;
  padding: 12px;
  background: var(--color-primary);
  border-bottom: 2px solid var(--color-background-100);
  color: var(--color-text-inverse);
  text-align: center;
  outline: none;
}
