.track {
  display: flex;
  margin: 5px 0;
  align-items: center;
  gap: 10px;
}

.title {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audio {
  flex: 1;
}

/* allow use of :global to override rhap class selectors */
/* stylelint-disable selector-pseudo-class-no-unknown */

/* allow use of rhap class overrides */
/* stylelint-disable selector-class-pattern */

.audio :global(.rhap_container) {
  box-shadow: none;
  padding: 0;
}

.track,
.audio :global(.rhap_time) {
  font-size: 0.875rem;
}

.audio :global(.rhap_current-time) {
  /* prevent layout shift during play, since the font is not fixed width */
  width: 46px;
}

.audio :global(.rhap_controls-section) {
  flex: initial;
}

.audio :global(.rhap_play-pause-button) {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.audio :global(.rhap_main-controls-button) {
  color: var(--color-gray-300);
  transition: color 300ms ease;
}

.audio :global(.rhap_play-status--playing .rhap_main-controls-button) {
  color: var(--color-project, var(--color-gray-300));
  transition: color 300ms ease;
}

.audio :global(.rhap_progress-indicator),
.audio :global(.rhap_progress-filled) {
  background-color: var(--color-gray-300);
  transition: background-color 300ms ease;
}

.audio :global(.rhap_play-status--playing .rhap_progress-indicator),
.audio :global(.rhap_play-status--playing .rhap_progress-filled) {
  background-color: var(--color-project, var(--color-gray-300));
  transition: background-color 300ms ease;
}
