/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable selector-class-pattern */

.track {
  display: flex;
  margin: 5px 0;
  align-items: center;
  gap: 10px;
}

.title {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.audio {
  flex: 1;
}

.track,
.audio :global(.rhap_time) {
  font-size: 0.875rem;
}

.audio :global(.rhap_container) {
  box-shadow: none;
  padding: 0;
}

.audio :global(.rhap_play-pause-button) {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.audio :global(.rhap_current-time) {
  margin-right: 7px;
}

.audio :global(.rhap_controls-section) {
  flex: initial;
}
