/* TODO: use tailwind instead */
.assistiveText {
  position: absolute !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  text-transform: none !important;
  white-space: nowrap !important;
}

/* Headings */
.textHeadingLarge {
  color: var(--color-text-dark);
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.181;
}

.textHeadingMedium {
  color: var(--color-text-dark);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1.154;
}

.textHeadingSmall {
  color: var(--color-text-dark);
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.368;
}

@media screen and (max-width: 991px) {
  .textHeadingLarge {
    font-size: 4rem;
    line-height: 1.188;
  }

  .textHeadingMedium {
    font-size: 3rem;
    line-height: 1.25;
  }

  .textHeadingSmall {
    font-size: 2rem;
    line-height: 1.375;
  }
}

@media screen and (max-width: 767px) {
  .textHeadingLarge {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  .textHeadingMedium {
    font-size: 2rem;
    line-height: 1.375;
  }

  .textHeadingSmall {
    font-size: 1.625rem;
    line-height: 1.462;
  }
}

@media screen and (max-width: 479px) {
  .textHeadingLarge {
    font-size: 2.125rem;
    line-height: 1.353;
  }

  .textHeadingMedium {
    font-size: 1.75rem;
    line-height: 1.429;
  }

  .textHeadingSmall {
    font-size: 1.5rem;
    line-height: 1.458;
  }
}

/* Text Highlight */
.textHighlight1,
.textHighlight2,
.textHighlight3 {
  padding: 0 4px;
  white-space: nowrap;
  color: #fff;
}

.textHighlight1 {
  background: linear-gradient(180deg, transparent 6%, var(--color-red) 0);
}

.textHighlight2 {
  background: linear-gradient(180deg, transparent 10%, var(--color-blue) 0);
}

.textHighlight3 {
  background-image: linear-gradient(
    180deg,
    transparent 10%,
    var(--color-yellow) 0
  );
  color: inherit;
}
