/* Headings */
.textHeadingLarge {
  color: var(--color-text-dark);
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.181;
}

@media screen and (max-width: 991px) {
  .textHeadingLarge {
    font-size: 4rem;
    line-height: 1.188;
  }
}

@media screen and (max-width: 767px) {
  .textHeadingLarge {
    font-size: 2.5rem;
    line-height: 1.3;
  }
}

@media screen and (max-width: 479px) {
  .textHeadingLarge {
    font-size: 2.125rem;
    line-height: 1.353;
  }
}

/* Text Highlight */
.textHighlight1,
.textHighlight2 {
  padding: 0 4px;
  white-space: nowrap;
  color: #fff;
}

.textHighlight1 {
  background: linear-gradient(180deg, transparent 6%, var(--color-red) 0);
}

.textHighlight2 {
  background: linear-gradient(180deg, transparent 10%, var(--color-blue) 0);
}
