:root {
  --color-text-default: #393939;
  --color-text-header-link: #0b0b0b;
  --color-background-default: #faf9f6;
}

/* @media (prefers-color-scheme: dark) { */
/* } */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

*,
::before,
::after {
  box-sizing: border-box;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

body {
  color: var(--color-text-default);
  background: var(--color-background-default);
  font-family: var(--font-regular), system-ui, sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.667em;
}

a {
  color: inherit;
  text-decoration: none;
}

.lineRoundedIcons {
  font-family: var(--font-icons-rounded), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
